body {
    margin: 0;
    font-family: Arial;
    background-color: #FAF3F0;
}

.header {
    font-size: 2.5em;
    background-color: #D4E2D4;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px 0px 10px 0px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.footer {
    width: 100%;
    height: 25px;
    margin-top: 25px;
    font-size: 0.9em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4E2D4;
}

.image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    height: auto;
    margin: 25px 0px 0px 0px;
    background-color: #D4E2D4;
}

.image img {
    width: 100%;
    height: auto;
    padding: 0;
}

#imagetitle {
    width: auto;
    height: auto;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
}

#imagecounter {
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

#imagefooter {
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 0.85em;
}